<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/scripts/Hayyan_Styles.css" />
    <script type="text/javascript" src="~/scripts/jquery-1.9.1.min.js" defer></script>
    <script type="text/javascript" src="~/scripts/script.js" defer></script>
</head>
<body>
    <header><h1>Baby.NET</h1></header>
    <div class="mainContent">
        @RenderBody()
    </div>
     <footer>All Rights Reserved for the use of Rapid Innovators Only.</footer>
</body>
</html>
